:root {
    --accent: #0500FF;
    --secondary: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
    scroll-behavior: smooth;
}


h1 {
    text-transform: uppercase;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FLEX */
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTIONS */
section {
    width: 80vw;
    height: 100vh;
}

.main-heading {
    width: 50vw;
    font-size: 3em;
    line-height: 0.9em;
}

.work-sec {
    flex-direction: column;
    justify-content: flex-start;
}

.work-heading {
    font-size: 3em;
    align-self: center;
    margin-top: 20vh;
}

.work-list,
.contact-list {
    list-style-type: none;
}

.work-list {
    margin-top: 10vh;
}

.work-elem,
.contact-elem {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.work-link {
    color: var(--secondary);
    font-size: 2em;
    text-decoration: underline;
}

.work-link:hover,
.contact-link:hover {
    color: var(--accent);
}

.contact-elem {
    font-size: 2em;
    text-transform: uppercase;
}

.contact-link {
    color: var(--secondary);
    text-decoration: underline;
}

footer {
    margin-bottom: 2vh;
}

.top-link-box {
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.top-link {
    color: white;
    font-size: 3em;
    text-decoration: none;
}

/* UTILITIES */
.italic {
    font-style: italic;
}

.accent {
    color: var(--accent);
}