$primary-color: #ffff00;
$secondary-color: #000006;
$text-color: white;

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: $text-color;
    background-color: $secondary-color;
    animation: fadein 3s;
}

html {
    scroll-behavior: smooth;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    display: flex;
    align-items: flex-end;
    height: 20vh;

    #intro {
        font-weight: 400;
        width: 20vw;
        margin-top: 20vh;
        margin-left: 8vw;
    }

    .highlighted {
        color: $primary-color;
    }

    a {
        margin-top: 20vh;
        font-size: xx-large;
        color: $text-color;
        opacity: 0.4;
        text-decoration: none;
        transition: 300ms ease-out;
    }

    a:hover {
        opacity: 1;
        transition: 250ms ease-out;
    }
}

.articles-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
    padding: 0;
    list-style-position: inside;
    margin-top: 10vh;

    .article-wrapper {
        margin-left: 8vw;
        color: $text-color;
        width: 80vw;
        display: flex;
        flex-direction: row;

        a {
            font-size: x-large;
            margin-right: 2vw;
            margin-bottom: 2vh;
            color: $text-color;
            transition: 300ms ease-out;
        }

        a:hover {
            color: $primary-color;
            transition: 250ms ease-out;
        }

        a:hover {
            color: $primary-color;
            transition: 250ms ease-out;
        }

        p {
            font-size: x-large;
            opacity: 0;
            transition: opacity 300ms ease-out;
            overflow: hidden;
        }

        #article-title-01:hover+#article-desc-01 {
            opacity: 0.4;
        }
    }
}

.separator {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}