// TODO: Set variables
$primary-color: #ffff00;
$secondary-color: #000006;
$text-color: white;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: $text-color;
    background-color: $secondary-color;
}

html {
    scroll-behavior: smooth;
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 10vh;
    padding-top: 10vh;
    padding-left: 8vw;

    a {
        margin-left: 3vw;
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
        transition: 300ms ease-out;
    }

    a:hover {
        color: $primary-color;
        transition: 250ms ease-out;
    }

    #nav_home {
        margin-left: 0;
    }
}

.home {
    display: flex;
    align-items: flex-end;
    height: 85vh;

    #intro {
        font-weight: 400;
        width: 35vw;
        margin-bottom: 10vh;
        margin-left: 8vw;
    }

    #my-name {
        color: $primary-color;
    }

    #react-word {
        cursor: url(/res/logos/js.svg), auto; // TODO: Replace with react logo but you need to fix its size first
    }
}

.arrow-wrapper {
    padding-bottom: 3vh;

    .arrow {
        font-weight: bold;
        color: $text-color;
        text-decoration: none;
        transition: 300ms ease-out;
    }

    .arrow:hover {
        color: $primary-color;
        transition: 250ms ease-out;
    }
}

.separator {
    font-weight: bold;
}

.page-header {
    flex-direction: column;
    height: 23vh;

    h1 {
        font-size: x-large;
    }
}

.work-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 50vh;
    padding: 0;
    list-style-position: inside;

    .work-text-wrapper {
        margin-left: 8vw;
        color: $text-color;
        width: 80vw;
        display: flex;
        flex-direction: row;

        a {

            font-size: x-large;
            margin-right: 2vw;
            margin-bottom: 2vh;
            color: $text-color;
        }

        a:hover {
            color: $primary-color;
            transition-duration: 300ms;
        }

        p {
            font-size: x-large;
            opacity: 0;
            transition: opacity 300ms ease-in;
            overflow: hidden;
        }

        #work-title-01:hover+#work-desc-01 {
            cursor: url(/res/logos/c++.svg), auto; // TODO: fix size or it wont work
            opacity: 0.4;
        }

        #work-title-02:hover+#work-desc-02 {
            cursor: url(/res/logos/c++.svg), auto; // TODO: fix size or it wont work
            opacity: 0.4;
        }

        #work-title-03:hover+#work-desc-03 {
            cursor: url(/res/logos/c++.svg), auto; // TODO: fix size or it wont work
            opacity: 0.4;
        }
    }

}

.about-wrapper {
    flex-direction: column;

    .about-text-wrapper {
        width: 50vw;
        margin-bottom: 10vh;
    }
}


.contact-wrapper {
    display: flex;
    justify-content: center;
    height: 10vh;

    a {
        margin-left: 6vw;
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
    }

    #contact-mail {
        margin: 0;
    }

    img {
        width: 2vh;
    }

    img:hover {
        transform: scale(1.15);
        transition: 200ms ease-out;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}