:root {
    --accent: #bb000b;
    --hover: #ffd900;
    --indent: 10vw;
    --fs-d-p: 40px;
    --fs-d-works: 25px;
    --fs-d-secondary-h: 30px;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes appearFromBottom {
    0% {
        opacity: 0;
        transform: translateY(500px) rotate(-360deg);
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes disappearFromBottom {
    0% {
        transform: translateY(0);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: none;
        transform: translateY(500px) rotate(-360deg);
    }
}

@font-face {
    font-family: helvetica-neue-bold;
    src: url("./res/HelveticaNeue-Bold.otf");
}

@font-face {
    font-family: helvetica-neue-medium;
    src: url("./res/HelveticaNeue-Medium.otf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica-neue-bold', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;

}

body {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    background-color: var(--accent);
    background: radial-gradient(circle, rgba(187, 0, 11, 1) 0%, rgba(187, 0, 11, 1) 55%, rgba(163, 16, 69, 1) 100%);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8vh;
    width: 100%;
    padding-left: var(--indent);
    padding-right: var(--indent);
}

header a {
    color: white;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

a:hover {
    color: var(--hover);
    transition: color .2s ease-in-out;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-left: 4vw;
    /* margin-right: 1.5vw; */
}

/* FLEX */
section,
footer {
    display: flex;
}

footer {
    justify-content: center;
    margin-top: 16vh;
}

/* SECTIONS */
section {
    padding-left: var(--indent);
    width: 100%;
    height: auto;
    margin-top: 20vh;
    flex-direction: column;
}

.main-sec {
    margin-top: 45vh;
}

.main-heading {
    width: 65vw;
    font-size: 3em;
    line-height: 1.1em;
}

@media screen and (max-width: 586px) {
    .main-heading {
        width: 75vw;
    }
}

#work-sec {
    justify-content: flex-start;
}

.secondary-heading {
    margin-top: 10vh;
    margin-bottom: 8vh;
    font-size: var(--fs-d-secondary-h);
}

p {
    margin-top: 4vh;
    padding-right: var(--indent);
    font-size: var(--fs-d-p);
}



.contact-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4vh;
}

.contact-elem {
    margin-bottom: .5vh;
}

a,
.contact-link:hover {
    color: var(--hover);
    transition: color .2s ease-in-out;
}

.contact-elem {
    font-size: var(--fs-d-p);
}

a,
.contact-link {
    transition: color .2s ease-in-out;
    color: white;
    text-decoration: underline;
}

footer {
    margin-bottom: 4vh;
}

/* WORKS */
.works {
    margin-top: 16vh;
    list-style-type: none;
}

.works li {
    margin-bottom: 8vh;
}

.work-link {

    font-size: var(--fs-d-works);
}

.work-desc {
    width: 50%;
    margin-top: 1vh;
    font-size: var(--fs-d-works);
}

.work-stack {
    font-size: small;
    color: var(--hover);
}


@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img {
        width: 100%;
    }
}

/* TOP LINK ARROW */
#top-link {
    background-color: white;
    display: flex;
    align-items: flex-start;
    padding-top: 12px;
    justify-content: center;
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    color: var(--accent);
    font-size: 2.5em;
    text-decoration: none;
    font-weight: lighter;
    -webkit-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    -webkit-animation: disappearFromBottom 5s;
    animation: disappearFromBottom 5s;
    transition: transform .6s;
}

#top-link:hover {
    transform: scale(110%, 110%);
    transition: transform .6s;
}

#top-link.animation {
    -webkit-animation: appearFromBottom 1.3s;
    animation: appearFromBottom 1.3s;
}

/* UTILITIES */
.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.accent {
    color: var(--accent);
}

.not-displayed,
a#top-link.not-displayed {
    display: none;
}