:root {
    --accent: #ff5100;
    --hover: #ff5100;
    --indent: 10vw;
    --fs-d-p: 20px;
    --fs-m-h1: 36px;
    --fs-d-works: 24px;
    --fs-d-section-h: 19vh;
    --bradius: 15px;
    --bgcolor: rgb(172, 218, 224);
    --text-color: black;
    --text-color-secondary: rgb(58, 58, 58);
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes appearFromBottom {
    0% {
        opacity: 0;
        transform: translateY(500px) rotate(-360deg);
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes disappearFromBottom {
    0% {
        transform: translateY(0);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: none;
        transform: translateY(500px) rotate(-360deg);
    }
}

@font-face {
    font-family: Inter;
    src: url("./res/fonts/Inter-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url("./res/fonts/Inter-Medium.ttf");
    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    letter-spacing: -0.4px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7vh;
    width: 100%;
    padding-left: var(--indent);
    padding-right: var(--indent);
    font-weight: bold;
}

header a {
    text-decoration: none;
    transition: color .2s ease-in-out;
}

a:hover {
    color: var(--hover);
    transition: color .2s ease-in-out;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 0;
}

nav ul li {
    margin-left: 0;
}

nav a {
    margin-left: 0;
    margin-right: 4vw;
}

nav img {
    width: 20px;
}

nav.links {
    display: flex;
    justify-content: flex-end;
}

nav a.profile-link {
    margin-left: 4vw;
    margin-right: 0;
}

/* FLEX */
section,
footer {
    display: flex;
}

footer {
    justify-content: center;
    margin-top: 16vh;
}

/* SECTIONS */
section {
    width: 100%;
    height: auto;
    flex-direction: column;
}

#main {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    padding-left: var(--indent);
}

h1.main-heading {
    width: 80vw;
    max-width: 800px;
    font-size: 4em;
    line-height: 1.1em;
}

#main a {
    margin-top: 8vh;
    margin-bottom: 16vh;
    color: var(--text-color-secondary);
    text-decoration: none;
}

#main a:hover {
    color: var(--hover);
}


.section-heading {
    margin-top: 10vh;
    margin-bottom: 14vh;
    font-size: var(--fs-d-section-h);
    padding-left: var(--indent);
    padding-right: var(--indent);
    align-self: flex-start;
    line-break: anywhere;
    line-height: .9em;
}

.section-heading-2 {
    padding-left: var(--indent);
    font-size: 6vh;
    min-width: 30vw;
}

p {
    line-height: 1.5em;
    margin-top: 4vh;
    font-size: var(--fs-d-p);
}

@media screen and (max-width: 586px) {

    h1.main-heading {
        width: 75vw;
        font-size: var(--fs-m-h1);
    }

    .content-wrap {
        flex-direction: column;
    }

    .section-heading-2 {
        margin-bottom: 4vh;
    }

}

/* CAREER */
.content-wrap {
    display: flex;
    margin-bottom: 10vh;
}

.job {
    display: flex;
    margin-left: var(--indent);
    margin-right: var(--indent);
    margin-bottom: 6vh;
    max-width: 60vw;
}

span {
    font-weight: bold;
}

.timespan {
    text-align: center;
}

.timespan .separator {
    background-color: black;
    width: 2px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.job-metadata {
    padding-left: 40px;
}


p.job-description {
    color: var(--text-color-secondary);
    max-width: 800px;
    width: auto;
    margin-top: 1.2vh;
}

/* =============== */


/* TECHNOLOGIES */
section#technologies-wrap {
    padding-left: var(--indent);
    padding-right: var(--indent);
}

.tools-row-wrap {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}

.tools-row {
    /* padding: 1vh 0 1vh 0; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-wrap: wrap;
    height: auto;
}



/* =============== */


/* PROJECTS */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-card {
    min-height: 100%;
    background-size: cover;
    padding: 14vh 8vw 8vh 8vw;
    border-radius: 30px;
    color: white;
    height: auto;
    width: 80vw;
    max-width: 1100px;
    min-height: 60vh;
    margin-bottom: 6vh;
    transition: transform .6s;
}

.project-card:hover {
    cursor: pointer;
    transform: scale(102%, 102%);
    transition: transform .4s;
}

.project-card#uncaptchable {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(res/uncaptchable.gif);
    background-position: center;
    background-size: cover;
}

.project-card#qtchartifier {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url(res/qtchartifier.gif);
    background-position: center;
    background-size: cover;
}

.project-name {
    margin-bottom: 2vh;
}

.project-tools {
    display: flex;
    flex-wrap: wrap;
}

.tool {
    background-color: var(--bgcolor);
    color: var(--text-color);
    padding: 6px 12px 6px 12px;
    border-radius: var(--bradius);
    margin-left: 2px;
    margin-right: 2px;
    margin: 6px 6px 6px 6px;
}

.project-desc {
    margin-top: 18vh;
}

/* =============== */




/* ABOUT, CONTACT */
section#about,
section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#about p,
section#contact p {
    text-align: justify;
    margin-left: var(--indent);
    margin-right: var(--indent);
    color: var(--text-color-secondary);
    width: 80vw;
    max-width: 1000px;
}

section#contact nav.links {
    margin-top: 8vh;
}

section#contact nav.links a {
    margin-left: 15px;
    margin-right: 15px;
}

section#contact nav.links a img {
    width: 30px;
}

/* =============== */

a:hover {
    color: var(--hover);
    transition: color .2s ease-in-out;
}


a {
    transition: color .2s ease-in-out;
    text-decoration: underline;
    color: var(--text-color);
}

footer {
    margin-bottom: 4vh;
}

/* TOP LINK ARROW */
#top-link {
    background-color: white;
    display: flex;
    align-items: flex-start;
    padding-top: 16px;
    justify-content: center;
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    color: var(--accent);
    font-size: 2.5em;
    text-decoration: none;
    font-weight: lighter;
    -webkit-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    -webkit-animation: disappearFromBottom 5s;
    animation: disappearFromBottom 5s;
    transition: transform .6s;
}

#top-link:hover {
    transform: scale(110%, 110%);
    transition: transform .6s;
}

#top-link.animation {
    -webkit-animation: appearFromBottom 1.3s;
    animation: appearFromBottom 1.3s;
}

/* UTILITIES */
.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.accent {
    color: var(--accent);
}

.not-displayed,
a#top-link.not-displayed {
    display: none;
}