// TODO: Set variables
$text-color: white;
$pop-color: #bbff00;

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    color: $text-color;
    background-color: #000a12;
}

main {
    scroll-behavior: smooth;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 10vh;
    padding-top: 8vh;
    padding-left: 8vw;

    a {
        margin-left: 2vw;
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
    }

    a:hover {
        color: $pop-color;
        transition-duration: 300ms;
    }

    #nav_home {
        margin-left: 0;
    }
}

.home {
    display: flex;
    align-items: flex-end;
    height: 85vh;

    #intro {
        font-weight: 400;
        width: 35vw;
        margin-bottom: 12vh;
        margin-left: 8vw;
    }

    #my-name {
        color: $pop-color;
    }

    #react-word {
        cursor: url(/res/js.svg), auto;
    }
}

.arrow-wrapper {
    padding-bottom: 3vh;

    .arrow {
        font-weight: bold;
        color: $text-color;
        text-decoration: none;
    }
}

.separator {
    font-weight: bold;
}

.page-header {
    flex-direction: column;
    height: 20vh;

    h1 {
        font-size: x-large;
    }
}

.work-wrapper {
    display: flex;
    justify-content: space-evenly;
    height: 50vh;

    img {
        width: 30vw;
        height: 30vh;
    }

    .work-text-wrapper {
        color: $text-color;
        width: 40vw;

        h2 {
            margin-bottom: 2vh;
        }
    }

}

.about-wrapper {
    flex-direction: column;

    .about-text-wrapper {
        width: 70vw;
        margin-bottom: 10vh;
    }
}


.contact-wrapper {
    display: flex;
    justify-content: center;
    height: 10vh;

    a {
        margin-left: 6vw;
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
    }

    #contact-mail {
        margin: 0;
    }
}