:root {
    --accent: #0500FF;
    --secondary: #888888;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes appearFromBottom {
    0% {
        opacity: 0;
        transform: translateY(500px) rotate(-360deg);
    }

    30% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes disappearFromBottom {
    0% {
        transform: translateY(0);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        display: none;
        transform: translateY(500px) rotate(-360deg);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    scroll-behavior: smooth;

}

body {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

body.dark {
    background-color: black;
    color: white;
    --secondary: #888;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 90vw;
}

.logo {
    height: 30px;
}

#light-toggle,
#dark-toggle {
    cursor: pointer;
    animation: none;
}

/* FLEX */
section,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* SECTIONS */
section {
    width: 80vw;
    height: 90vh;
}

.main-heading {
    width: 50vw;
    font-size: 3em;
    line-height: 0.9em;
}

@media screen and (max-width: 586px) {
    .main-heading {
        font-size: 2.7em;
    }
}

.work-sec {
    flex-direction: column;
    justify-content: flex-start;
}

.work-heading {
    font-size: 3em;
    align-self: center;
    margin-top: 20vh;
}

.work-list,
.contact-list {
    list-style-type: none;
}

.work-list {
    margin-top: 10vh;
}

.work-elem,
.contact-elem {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.work-link {
    color: var(--secondary);
    font-size: 2em;
    text-decoration: underline;
}

.work-link:hover,
.contact-link:hover,
#light-toggle:hover,
#dark-toggle:hover,
.italic:hover {
    color: var(--accent);
    transition: color .4s ease-out;
}

.contact-elem {
    font-size: 2em;
    text-align: center;
}

.contact-link {
    color: var(--secondary);
    text-decoration: underline;
}

footer {
    margin-bottom: 4vh;
}


#top-link {
    background-color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5%;
    right: 3%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    color: white;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: lighter;
    -webkit-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75);
    -webkit-animation: disappearFromBottom 5s;
    animation: disappearFromBottom 5s;
    transition: transform .6s;
}

#top-link:hover {
    transform: scale(110%, 110%);
    transition: transform .6s;
}

#top-link.animation {
    -webkit-animation: appearFromBottom 1.3s;
    animation: appearFromBottom 1.3s;
}

/* UTILITIES */
.italic {
    font-style: italic;
}

.accent {
    color: var(--accent);
}

.not-displayed,
a#top-link.not-displayed {
    display: none;
}